<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <title>Registrasi</title>
</head>
<body>
    <h3>Halaman Registrasi</h3>
    <h3>Current User : {{ses}}</h3>
    <b><a href = '/logout'>click here to change active user</a></b><br>
    <select onchange="changepose()" id="selectpose">
        <option selected="selected">pilih pose</option>
        <option value="-45">-45 degrees</option>
        <option value="-30">-30 degrees</option>
        <option value="-15">-15 degrees</option>
        <option value="0">0 degrees</option>
        <option value="+15">+15 degrees</option>
        <option value="+30">+30 degrees</option>
        <option value="+45">+45 degrees</option>
    </select>
    <p id="selectedpose">select pose above</p> <br>
    <img src="{{ url_for('registrasi_stream') }}"><br>
    <button id="mybutton" type="button">Capture</button>
    <button onClick="window.location.reload();">Re-capture Image</button>
</body>
<script type="text/javascript">
    var pose = 0;
    // document.getElementById("pose").innerHTML = pose;
    $(function() {
        // var pose = document.getElementById("pose").innerHTML;
        $("#mybutton").click(function (event) { 
            $.getJSON('/capture'+pose, { }, 
            function(data) { }); 
            return false; 
        }); 
    });
    function changepose(){
        pose = document.getElementById("selectpose").value;
        document.getElementById("selectedpose").innerHTML = ("current pose : "+pose);
    };
</script>
</html>